[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "*"

[requires]
python_version = "3.7"

[scripts]
"config" = "ansible-playbook -i hosts config.yml"
"config-pass" = "ansible-playbook -i hosts config.yml --ask-become-pass"